{% extends 'base.html' %}

{% block head %}
<title>Accounts</title>
{% endblock %}

{% block body %}

<body>
    <div class="accountdiv">
        <form method="post" class="actions" autocomplete="off">
            {{ form.hidden_tag() }}
            <table class="createDelete">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <tr class=flashes>
                    <td colspan="2" class="{{ category }}">{{ message }}</td>
                </tr>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                <tr>
                    <td>
                        <h2>Create Account</h2>
                    </td>
                    <td>
                        <h2>Delete Account</h2>
                    </td>
                <tr>
                    <td>
                        {{ form.create_account() }}
                    </td>
                    <td>
                        {{ form.delete_account() }}
                    </td>
                </tr>
                <tr class="deleteAccount">
                    <td>
                        {{ form.account_name() }}
                    </td>
                    <td>
                        <div class="selectdiv">
                        {{ form.account_select() }}
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <div class='userAccounts'>
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Account number
                    </th>
                    <th style>
                        Balance
                    </th>
                </tr>

                {% for account in account_list %}
                    <tr class="account">
                        <td #accountName>
                            {{ account[0] }}
                        </td>
                        <td #accountNumber>
                            {{ account[1] }}
                        </td>
                        <td #accountBalance>
                            {{ account[2] }} kr
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

{% endblock %}
