{% extends 'base.html' %}

{% block head %}
<title>Accounts</title>
{% endblock %}

{% block body %}

<body>
    <div class='userAccounts'>
        <table>
            <tbody>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Account number
                    </th>
                    <th style>
                        Balance
                    </th>
                </tr>

                {% for account in account_list %}
                    <tr class="account">
                        <td #accountName>
                            {{ account[0] }}
                        </td>
                        <td #accountNumber>
                            {{ account[1] }}
                        </td>
                        <td #accountBalance>
                            {{ account[2] }} kr
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <form method="post" class="actions">
        {{ form.hidden_tag() }}
        <table class="createDelete">
            <tbody>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <tr class=flashes>
                      <td colspan="3" class="{{ category }}">{{ message }}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <tr>
                    <td>
                        {{ form.account_name() }}
                    </td>
                    <td>
                        {{ form.create_account() }}
                    </td>
                </tr>
                <tr class="deleteinfo">
                    <td>
                        You can only delete empty accounts
                    </td>
                </tr>
                <tr class="deleteAccount">
                    <td>
                    <div class="selectdiv">
                        {{ form.account_select() }}
                    </div>
                    </td>
                    <td>
                        {{ form.delete_account() }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</body>

{% endblock %}
