{% extends 'base.html' %}

{% block head %}
<title>Transactions</title>
{% endblock%}

{% block body %}

<table> 
<select onselect="new_get_request_reload_and_show_account_history"><option value="userAccounts">
{%for account in userAccounts%}
<option value={{account}}>{{account}}</option>
{%endfor%}
</select>

{% for transaction in transHistory %}
<tr>
    <td>
    {{transaction.accountFrom}}
    </td>
    <td>
    {{transaction.accountTo}}
    </td>
    <td>
    {{transaction.amount}}
    </td>
    <td>
    {{transaction.date}}
    </td>
</tr>
{%endfor%}
</table>

{% endblock %}
        transHistory.append([i.accountFrom, i.accountTo,i.amount,i.time])
