{% extends 'base.html' %}

{% block head %}
<title>Transactions</title>
{% endblock%}

{% block body %}
<form method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                {{form.accountSelect()}}
            </td>
            <td>
                {{form.view_hist()}}
            </td>
        </tr>
    </table>
</form>

<table>
    <tr>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th >
            Message
        </th>
        <th >
            Amount
        </th>
        <th >
            Timestamp
        </th>
    </tr>
{%for account in userAccounts%}
<option value={{account}}>{{account}}</option>
{%endfor%}
</select>

{% for transaction in transHistory %}
<tr>
    <td>
    {{transaction[0]}}
    </td>
    <td>
    {{transaction[1]}}
    </td>
    <td>
    {{transaction[2]}}
    </td>
    <td>
    {{transaction[3]}}
    </td>
    <td>
    {{transaction[4]}}
    </td>
</tr>
{%endfor%}
</table>

{% endblock %}
        transHistory.append([i.accountFrom, i.accountTo,i.amount,i.time])
