{% extends 'base.html' %}

{% block head %}
<title>Transactions</title>
{% endblock%}

{% block body %}
<body>
    <div class="transhist">
        <form method="post">
            {{ form.hidden_tag() }}
            <table>
                <div class="choose">
                    <tr>
                        <td colspan="2">
                            <div class="selectdiv">
                                {{form.accountSelect()}}
                            </div>
                        </td>
                        <td colspan="2">
                            {{form.view_hist()}}
                        </td>
                    </tr>
                </div>
            </table>
        </form>

        <div class="tbcontent">
            <table>
                <tr>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th >
                        Message/KID
                    </th>
                    <th >
                        In
                    </th>
                    <th >
                        Out
                    </th>
                    <th >
                        Timestamp
                    </th>
                </tr>
                {%for account in userAccounts%}
                <option value={{account}}>{{account}}</option>
                {%endfor%}

                {% for transaction in transHistory %}
                <tr>
                    <td>
                    {{transaction[0]}}
                    </td>
                    <td>
                        {{transaction[1]}}
                    </td>
                    <td>
                        {{transaction[2]}}
                    </td>
                    <td>
                        {{transaction[3]}}
                    </td>
                    <td>
                        {{transaction[4]}}
                    </td>
                    <td>
                        {{transaction[5]}}
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</body>
{% endblock %}

