{% extends 'base.html' %}

{% block head %}
<title>Overview</title>
{% endblock%}

{% block body %}
<body>
<div class='userAccounts'>
    <table>
        <tbody>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Account number
                </th>
            </tr>

            {% for i in range(5) %}
                <tr class="account">
                    <td #accountName>
                        {{ account_list[i][0] }}
                    </td>
                    <td #accountBalance>
                        {{ account_list[i][2] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}

