{% extends 'base.html' %}

{% block head %}
<title>Overview</title>
{% endblock%}

{% block body %}
<body>
<div class='userAccounts'>
    <table>
        <tbody>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Balance
                </th>
            </tr>
            {% if account_list|length < 5 %}
                {% set accshow = account_list|length %}
            {% else %}
                {% set accshow = 5 %}
            {% endif %}
            {% for i in range(accshow) %}
                <tr class="account">
                    <td #accountName>
                        {{ account_list[i][0] }}
                    </td>
                    <td #accountBalance>
                        {{ account_list[i][2] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}

