{% extends 'base.html' %}

{% block head %}
<title>Overview</title>
{% endblock%}

{% block body %}
<body>
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tbody>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <tr class=flashes>
                      <td class="{{ category }}">{{ message }}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <tr>
                    <td colspan="2">
                        {{ form.tfrom() }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form.to() }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form.msg() }}
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        {{ form.kr() }}
                    </td>
                    <td colspan="1">
                        , {{ form.ore() }},-
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ form.pay() }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

{% endblock %}
