{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}

<table>
    <tbody>
        <tr>
            <td>
                <button type="button">DELETE USER</button>
            </td>
           <td>
                <button type="button">THANOS SNAP</button>
            </td>
            <td>
                <button type="button" onclick="window.location.href='/logout';">Logout</button>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
