{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<body>
    <form method="post">
        <h1>{{ email }}</h1>

        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class=flashes>
              <p class="{{ category }}">{{ message }}</p>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <table>
            <tbody>
                <tr>
                    <td>
                        {{ form.password_deleteuser() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.otp_deleteuser() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.delete_deleteuser() }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
{% endblock %}
