{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock%}

{% block body %}
<body>
    <div class="profilepage">
        <form method="post">
            <div class="headerdiv">
                <h2>{{ email }}</h2>
            </div>

            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                <div class=flashes>
                  <p class="{{ category }}">{{ message }}</p>
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <table>
                <tr>
                    <td>
                        <h2>Delete User</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password_deleteuser() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.otp_deleteuser() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.delete_deleteuser() }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% endblock %}
