{% extends 'index.html' %}

{% block reglog %}
<body class="importedContent">
    <form method="post">
            {{ form.hidden_tag() }}
            <table>
                <tbody>
                    <tr>
                        <th>Register</th>
                    </tr>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                        <tr class=flashes>
                          <td class="{{ category }}">{{ message }}</td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <tr>
                                <td>{{ error }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>
                            {{ form.email() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.password() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.submit() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
{% endblock %}