<body class="importedContent">
    <form method="post">
            {{ form2.hidden_tag() }}
            <table>
                <tbody>
                    <tr class="twofaInfo">
                        <th>Confirm Two-factor authenication</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ qrcode(qr_link) }}" alt="qr-kode">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form2.otp() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        {% comment %}
                        This is safe because of the fact that
                        changing the email field
                        changes your email hash
                        wich just means you need a matching password to be able to create
                        this account and this can never conflict with
                        normal registered users in the redis database
                        {% endcomment %}
                            {{ form2.email() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form2.password_2fa() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form2.submit() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>