{% extends 'base.html' %}

{% block head %}
<title>Validate</title>
{% endblock %}

{% block body %}

<body>
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tbody>
                <tr>
                    <th>
                        <p class="title"><strong>Validate</strong></p>
                    </th>
                </tr>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                    <tr class=flashes>
                      <td class="{{ category }}">{{ message }}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <tr>
                    <td>
                        {{ form.tfrom.label }}
                    </td>
                    <td>
                        {{ form.tfrom() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.to.label }}
                    </td>
                    <td>
                        {{ form.to() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.msg.label }}
                    </td>
                    <td>
                        {{ form.msg() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.kr.label }}
                    </td>
                    <td>
                        {{ form.kr() }}
                    </td>
                    <td>
                        {{ form.ore() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.email_payment() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password_payment() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.proceed_payment() }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

{% endblock %}