{% extends 'base.html' %}

{% block head %}
<title>Delete</title>
{% endblock %}

{% block body %}

<body>
    <div class="valNewDel">
        <form method="post">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th>
                        <h2>Validate</h2>
                    </th>
                </tr>
                {% with messages = get_flashed_messages(with_categories=true) %}

                  {% if messages %}
                    {% for category, message in messages %}
                    <tr class=flashes>
                      <td class="{{ category }}">{{ message }}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <tr>
                    <td>
                        {{ form.account_select() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password_delete() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.otp_delete() }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.proceed_delete() }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

{% endblock %}
