body {
    color: #444;
    background-color: #ffe9bf;
    font-family: Stix;
    margin-top: auto;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.error {
    background-color: #ff3333;
}