/* Color pallete:
    color1: #041f32
    color2: #003853
    color3: #0478a1
    color4: #04aed9
    color5: #c5e0f5
*/
:root {
    --blue1: #041f32;
    --blue2: #003853;
    --blue3: #0478a1;
    --lightblue1: #04aed9;
    --lightblue2: #c5e0f5;
}
body {
    background-color: var(--lightblue2);
    color: var(--blue2);
    margin: 0px;
}

.menubar {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: none;
    margin: none;
    padding: none;
    border-bottom: 5px solid var(--blue3);
}

.shadowDown {
    box-shadow: 0px 0px 8px 2px;
}

.pages{
    padding: none;
    border: none;
    margin: none;
}

.menubar button {
    height: 60px;
    background-color: var(--lightblue1);
    border: none;
    margin: none;
    padding: none;
    min-width: 100px;
}

.profile{
    text-align: right;
    color:red;
}
