/* Color pallete:
    color1: #041f32
    color2: #003853
    color3: #0478a1
    color4: #04aed9
    color5: #c5e0f5
*/
:root {
    --blue1: #041f32;
    --blue2: #003853;
    --blue3: #0478a1;
    --lightblue1: #04aed9;
    --lightblue2: #c5e0f5;
}
body {
    background-color: var(--lightblue2);
    color: var(--blue2);
}

.menubar {
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-auto-flow: column;
}

.pages{
    gap: 20px;

}