/* Color pallete:
    color1: #041f32
    color2: #003853
    color3: #0478a1
    color4: #04aed9
    color5: #5c83a0
    color6: #9ebfe0
    color7: #c5e0f5
    color8: #ddeef8
*/

:root {
    --blue1: #041f32;
    --blue2: #003853;
    --blue3: #0478a1;
    --lightblue1: #04aed9;
    --lightblue2: #c5e0f5;
    --lightblue3: #9ebfe0;
    --almostgrey1: #5c83a0;
    --almostwhite1: #ddeef8;

}
body {
    background-color: var(--lightblue2);
    color: var(--blue2);
    margin: 0px;
}

.img img{
    width: 100%;
}
.menubar {
    background-color: var(--blue3);
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: none;
    margin: none;
    padding: none;
    /* border-bottom: 5px solid var(--blue3); */
}

.shadowDown {
    box-shadow: 0px 0px 8px 2px;
}

.shadowSides {
    box-shadow: 0px 8px 5px 0px
}

.pages{
    padding: none;
    border: none;
    margin: none;
    text-align: center;
}

.menubar button {
    height: 60px;
    background-color: var(--blue3);
    border: none;
    margin: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: var(--almostwhite1);
    font-weight: bold;
}
.menubar button:hover {
    background-color: var(--lightblue1);
}

.profile{
    text-align: right;
}

.imported{
    background-color: none;
    min-height: 700px;
    margin-top: none;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;

}

.safecoin img {
    height: 100%;
}

@media (min-width:850px) {
    .imported{
        margin-left: none;
        margin-right: none;
    }

}
