<!doctype html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    </head>
    <body>
        <form method="post">
            <table>
                <tbody>
                    <tr>
                        <th>
                            <h2>Register</h2>
                        </th>
                    </tr>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                        <tr class=flashes>
                          <td class="{{ category }}">{{ message }}</td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    <tr>
                        <td>
                            <label for="mail">Email: <br /></label>
                            <input type="email" name="mail" placeholder="email@example.com" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password: <br /></label>
                            <input type="password" name="password" placeholder="********" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="repass">Retype Password: <br /></label>
                            <input type="password" name="repass" placeholder="********" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Register now!" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>