<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/stylesheet.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="menubar">
    <div class="safecoin">
    <button type="button">Safecoin</button>
    </div>
    <button type="button" class="pages">Overview</button>
    <button type="button" class="pages">Transactions</button>
    <button type="button" class="pages">Accounts</button>
    <button type="button" class="pages">Transfer</button>
    <button type="button" class="pages">Pay</button>
    <button type="button" class="pages">Profile</button>

</div>
</body>
    {% block body %}{% endblock %}
</body>
</html>
