{% extends 'index.html' %}

{% block reglog %}
<body class="importedContent"> <p>HERE COMES LOGIN FORM</p>
    <form method="post">
            <!-- Jinja code hidden tag? -->
            <table>
                <tbody>
                    <tr>
                        <th>
                            <p class="title"><strong>Login</strong></p>
                        </th>
                    </tr>
                        Jinja code for flashes
                    <tr>
                        <td>
                            Jinja code email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jinja code password
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jinja code login button
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
{% endblock %}