
/* Color pallete:
    color1: #041f32
    color2: #003853
    color3: #0478a1
    color4: #04aed9
    color5: #5c83a0
    color6: #9ebfe0
    color7: #c5e0f5
    color8: #ddeef8
*/

:root {
    --blue1: #041f32;
    --blue2: #003853;
    --blue3: #0478a1;
    --lightblue1: #04aed9;
    --lightblue2: #c5e0f5;
    --lightblue3: #9ebfe0;
    --almostgrey1: #5c83a0;
    --almostwhite1: #ddeef8;

}
body {
    background-color: var(--lightblue2);
    color: var(--blue2);
    margin: 0px;
}

.img img{
    width: 100%;
}
.menubar {
    background-image: linear-gradient(to bottom, var(--blue2), var(--blue3));
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: none;
    margin: none;
    padding: none;
    position:fixed;
    width: 100%;
    /* border-bottom: 5px solid var(--blue3); */
}

.shadowDown {
    box-shadow: 0px 0px 8px 2px;
}

.pages{
    padding: none;
    border: none;
    margin: none;
    text-align: center;
}

.profile{
    text-align: right;
}


.imported{
    min-height: 700px;
    padding-top: 55px;

}

.safecoin img {
    margin-top: 3px;
    height: 85%;
}

.profile img {
    padding-left: 10px;
    padding-right: 5px;
    height: 40%;
}
.menubar button {
    height: 50px;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0));
    border: none;
    margin: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16pt;
    color: var(--almostwhite1);
    font-weight: bold;
}
.menubar button:hover {
    background: linear-gradient(0deg, rgba(4,174,217,0.5), rgba(0,0,0,0));
}

#logout:hover {
    background: linear-gradient(0deg, rgba(223, 12, 5, 0.9), rgba(97, 1, 1, 0.5));
}
/*
 * ─── ACCOUNTS ───────────────────────────────────────────────────────────────────
 */

.userAccounts {
    margin-top: 50px;
    margin-bottom: 100px;
}

.userAccounts table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;

}

.account td{
    grid-template-columns: 30% 30% 40%;
    grid-area: auto;
    padding: 0px;
    margin: 0px;

}

.userAccounts th {
    background-color: var(--blue2);
    font-size: 150%;
    padding: 20px;
    color: white;
}
.userAccounts td{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-transform: capitalize;
    font-size: 130%;

}
.userAccounts tr:nth-child(even){
    background-color: var(--lightblue3)
}
.userAccounts td:nth-child(1){
    padding-left: 10px;
    font-weight: bold;
    width: 20%;
}

.userAccounts td:nth-child(2){
    text-align: center;
    width: 20%;
}

.userAccounts td:nth-child(3){
    width: 60%;
    padding-right: 30px;
    font-weight: bold;
    text-align: right;
}
.createDelete{
    margin-top:60px;
    width: 40%;
    margin-left: 30%;

}
.createDelete input{
    border-width: 2px;
    border-color: var(--blue3);
    border-style: solid;
    border-radius: 50px;
    font-size: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 20px;
    text-align: center;

}

.createDelete #create_account{
    background-color: var(--blue2);
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 50px;
    text-decoration:none;
}

.deleteinfo td {
    padding-top: 100px;
    font-weight: bold;
    font-size: 100%;
}

.createDelete #delete_account{
    background-color: var(--blue2);
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 50px;
    text-decoration:none;
}

.deleteAccount td {
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.selectdiv {
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
}

.selectdiv:after {
    color: white;
    font-weight: bold;
    content: '>';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 560px;
    top: 16px;
    /*position: absolute;*/
    pointer-events: none;
}

.createDelete select {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    border-width: 2px;
    border-color: var(--blue3);
    background-color: var(--blue2);
    border-style: solid;
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 50px;
    text-align: center;
}
/*
 * ─── ACCOUNTS ───────────────────────────────────────────────────────────────────
 */

/*-------------------PAY---------------*/
.paydiv {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    

.paydiv input{
    border-width: 2px;
    border-color: var(--blue3);
    border-style: solid;
    border-radius: 50px;
    font-size: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 20px;
    text-align: center;
}

.paydiv input#msg{
    width: 408px;
}

.paydiv input#kr{
    width: 300px;
}

.paydiv input#ore{
    width: 100px;
}

.paydiv #pay {
    background-color: var(--blue2);
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 50px;
    text-decoration:none;
}
.paydiv select#tfrom {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    border-width: 2px;
    border-color: var(--blue3);
    background-color: var(--blue2);
    border-style: solid;
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 250px;
    height: 50px;
    text-align: center;
}
/*oddly specific, but this is the way it has to be */
.paydiv .selectdiv:after {
    left: 215px;
}
/*-------------------PAY---------------*/

/*------------ValidatePay--------------*/

.valdiv input{
    border-width: 2px;
    border-color: var(--blue3);
    border-style: solid;
    border-radius: 50px;
    font-size: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 20px;
    text-align: center;
}

.valdiv input#msg{
    width: 408px;
}

.valdiv input#kr{
    width: 300px;
}

.valdiv input#ore{
    width: 100px;
}

.valdiv input#ore, .valdiv input#kr, .valdiv input#msg, .valdiv input#tfrom, .valdiv input#to {
    color: grey;
}

.valdiv table {
    margin-bottom: 40px;
}

.valdiv {
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.valdiv #proceed_payment {
    background-color: var(--blue2);
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 100px;
    height: 50px;
    text-decoration:none;
}

/*------------ValidatePay--------------*/

/*----ValidateNewAndDeleteAccount------*/
.valNewDel input{
    border-width: 2px;
    border-color: var(--blue3);
    border-style: solid;
    border-radius: 50px;
    font-size: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 20px;
    text-align: center;
}

.valNewDel input#account_name, .valNewDel input#account_select {
    color: grey;
}
.valNewDel {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.valNewDel input#proceed_create, .valNewDel input#proceed_delete {
    background-color: var(--blue2);
    border-radius:28px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    font-size: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 200px;
    height: 50px;
    text-decoration:none;
}
/*----ValidateNewAndDeleteAccount------*/
/*--------------Transactions-----------*/

.transhist td{
    grid-template-columns: 30% 30% 40%;
    grid-area: auto;
    padding: 0px;
    margin: 0px;

}

.transhist th {
    background-color: var(--blue2);
    font-size: 150%;
    padding: 20px;
    color: white;
}
.transhist td{
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-transform: capitalize;
    font-size: 130%;

}

.transhist select#accountSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: white;
    border-width: 2px;
    border-color: var(--blue3);
    background-color: var(--blue2);
    border-style: solid;
    border-radius: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
    width: 250px;
    height: 50px;
    text-align: center;
}
/*oddly specific, but this is the way it has to be */
.transhist .selectdiv:after {
    left: 215px;
/*--------------Transactions-----------*/

@media (max-width:850px) {

.imported{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 45px;
}
    .menubar button {
    height: 40px;
    font-size: 16pt;
    }
}


@media (max-width: 730px) {

    .menubar button {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    }
}
@media (max-width:590px) {

    .menubar button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;
    }

}

@media (max-width:520px) {

    .menubar button {
    padding-left: 0px;
    padding-right: 2px;
    font-size: 12pt;
    }

}
@media (max-width:465px) {
    .menubar button {
    font-size: 11pt;
    }

}

@media (max-width:435px) {
    .menubar button {
    font-size: 9pt;
    }
}
