/* Color pallete:
    color1: #041f32
    color2: #003853
    color3: #0478a1
    color4: #04aed9
    color5: #5c83a0
    color6: #9ebfe0
    color7: #c5e0f5
    color8: #ddeef8
*/

:root {
    --blue1: #041f32;
    --blue2: #003853;
    --blue3: #0478a1;
    --lightblue1: #04aed9;
    --lightblue2: #c5e0f5;
    --lightblue3: #9ebfe0;
    --almostgrey1: #5c83a0;
    --almostwhite1: #ddeef8;

}
body {
    background-color: var(--lightblue2);
    color: var(--blue2);
    margin: 0px;
}

.img img{
    width: 100%;
}
.menubar {
    background-image: linear-gradient(to bottom, var(--blue2), var(--blue3));
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    grid-gap: none;
    margin: none;
    padding: none;
    position:fixed;
    width: 100%;
    /* border-bottom: 5px solid var(--blue3); */
}

.shadowDown {
    box-shadow: 0px 0px 8px 2px;
}


.pages{
    padding: none;
    border: none;
    margin: none;
    text-align: center;
}



.profile{
    text-align: right;
}

.imported{
    min-height: 700px;
    padding-top: 55px;

}

.safecoin img {
    margin-top: 3px;
    height: 85%;
}
.menubar button {
    height: 50px;
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0));
    border: none;
    margin: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16pt;
    color: var(--almostwhite1);
    font-weight: bold;
}
.menubar button:hover {
    background: linear-gradient(0deg, rgba(4,174,217,0.5), rgba(0,0,0,0));
}

@media (max-width:850px) {

    .imported{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-top: 45px;
    }
    .menubar button {
    height: 40px;
    font-size: 16pt;
    }
}


@media (max-width: 730px) {

    .menubar button {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    }
}
@media (max-width:590px) {

    .menubar button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12pt;
    }

}

@media (max-width:520px) {

    .menubar button {
    padding-left: 0px;
    padding-right: 2px;
    font-size: 12pt;
    }

}
@media (max-width:465px) {
    .menubar button {
    font-size: 11pt;
    }

}

@media (max-width:435px) {
    .menubar button {
    font-size: 9pt;
    }
}
